src/python-language-feature.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="languageFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="autocomplete" type="xs:boolean"/>
        <xs:element name="formatting" type="xs:boolean"/>
        <xs:element name="validation" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<languageFeatures>
  <autocomplete>true</autocomplete>
  <formatting>true</formatting>
  <validation>true</validation>
</languageFeatures>
